PORT=3000
KEYCLOAK_JWKS_URI_DP_P1=http://localhost:8080/realms/dp-p1/protocol/openid-connect/certs
KEYCLOAK_JWKS_URI_DP_P2=http://localhost:8080/realms/dp-p2/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE_DP_P1=driverplus-mobile-app
KEYCLOAK_AUDIENCE_DP_P2=ops-console-web
IDENTITY_TRUST_BASE_URL=http://localhost:3001
NOTIFICATION_BASE_URL=http://localhost:3010
